.Body {
	text-align: center;
}

@media only screen and (min-width: 426px) {
	.Body {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: left;
	}
	
	.Body > div {
		width: 100%;
		padding: 40px 0;
	}
}
