.charts-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.doughnutChart-container, .barChart-container {
	margin-right: 10px;
	width: 45%;
	min-width: 320px;
	height: 45vh;
}

select.selectMonth {
	display: block;
	height: 40px;
  width: 200px;
  font-size: 16px;
  text-indent: 5px;
	background-color: #FFFFFF;
  border: black solid 1px;
  border-radius: 5px;
}

@media only screen and (max-width: 425px) {

	select.selectMonth {
    text-indent: 60px;
    margin: auto;
	}

	.charts-container {
		justify-content: center;
	}

}
