nav {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}

nav button {
	margin: 0;
	font-size: 16px;
	color: dimgray;
	min-width: 100px;
	height: 50px;
	background-color: whitesmoke;
	border: none;
	border-bottom: whitesmoke solid 2px;
	transition: 0.1s ease-in-out;
}

nav button:hover {
	color: #04bcf5;
}

nav button.activeTab {
	color: #04bcf5;
	border-bottom-color: #04bcf5;
}

nav button:focus {
	color: #04bcf5;
	outline-color: #04bcf5;
	outline: 0;
}
